/* CSS declarations go here */
/**/
.boton{
	text-align: center;
	    display: block;
}

::selection {
  background: none;  
}
::-moz-selection {
  background: none; 
}
::-webkit-selection {
  background: none; 
}
::-o-selection {
  background: none; 
}